@charset "UTF-8";
body{
	margin:0;
	padding:0;
	background-image: url("image/bg/bg8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
}

.tab{
	margin-top:3%;
	margin-left:40%;
	width:460px;
	height:50px;
	background-color: rgba(0,0,0,0.3);
	transition: transform 0.5s;
}
.tab img{
	height: 40px;
	width: 40px;
	margin-left:20px;
}
.tab h1{
	margin-top:7px;
	margin-right:80px;
	font-size: 27px;
	font-weight:bold;
	float:right;
	color:orange;
	font-family: arial;
}
.tab:hover{
	transform: scale(1.25);
	
}

.botton{
	margin-top:3%;
	margin-left:50%;
}
input[type=submit] {
    padding:9px 18px;
    color:black;
    font-size:22px;
    font-weight:bold;
    background:white;
    cursor:pointer;
    border-radius: 105px; 
}




.footer {
	margin-top:1%;
	color:white;
	text-align:left;
	font-size: 16px;
	font-weight:bold;
	float:right;
	font-family: arial;
	
}


a: hover{
	width:700px;
}