@charset "UTF-8";
body{
	margin:0;
	padding:0;
}

body{
	background-image: url("image/bg/bg2.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
}

.logform{
	height:480px;
	width:350px;
	background: rgba(0,0,0,0.5);
	color:white;
	top:35%;
	left:41%;
	position: absolute;
	box-sizing: border-box;
	padding:0px 50px;
	font-family: arial;
}
.admin{
	height:90px;
	width:90px;
	margin-left: 30%;
	margin-top:-15%;
}
.logform h1{
	margin-bottom:40px;
	text-align: center;
	font-size: 30px;
	font-weight:bold;
	font-family: arial;
}

.logform p{
	margin:-5px;
	padding:-5px;;
	font-size:18px;
	font-weight: bold;
}
.logform input{
margin-top: 5px;	
margin-bottom: 30px;
}

.logform h2{
	text-align:right;
	margin-top:45px;
	font-size:13px;
}













