@charset "UTF-8";
body{
	margin:0;
	padding:0;
	background-image: url("image/bg/bg71.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
}
.main{
height:280px;
width:500px;
margin-left: 38%;
text-align:center;
margin-top:5%;
padding-top:40px;
font-weight:bold;
background-color:rgba(0,0,0,0.5);
font-size: 20px;
color:white;
font-family: arial;
}

.image img{
	height:10%;
width:30%;
display:block;
margin-left:auto;
margin-right:auto;
}
 .msg{
 padding-top:180px;
 }
 .msg h1{
 
 font-size:23px;
 background-color: rgb(51, 204, 166);
 }
